* {
    font-family: "Microsoft YaHei UI", Consolas, serif;
}

.display-none {
    display: none;
}

.clear-float {
    clear: both;
}

#container {
    margin: 0 0 100px 0;
}

.title {
    text-align: center;
    font-size: 25px;
    padding: 25px 0;
}

.current-address {
    font-size: 20px;
    padding: 15px 0;
}

.load-icon {
    float: right;
    background: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px #bfbfbf;
    margin: 0 0 0 10px;
    line-height: 40px;
}

.resources-list {
    margin: 25px 0 0 0;
}

.item-box {
    box-shadow: 0 0 20px #e8e8e8;
    border-radius: 5px;
    margin: 5px;
    transition: box-shadow .5s;
}

.item-box:hover {
    box-shadow: 0 0 20px #a7a7a7;
    transition: box-shadow .5s;
    cursor: pointer;
}

.item-icon,
.item-content {
    display: table-cell;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 0 0 0 10px;
}

.item-content {
    width: 100%;
    padding: 0 15px;
}

.item-action {
    text-align: center;
    border-top: 1px solid #F2F2F2;
}

.item-action a {
    padding: 5px 0;
}

.resource-name {
    padding: 0 15px;
    height: 38px;
    line-height: 38px;
    display: block;
    float: right;
    border-radius: 19px;
    border: 1px solid #c9c9c9;
}

.email {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

@media screen and (min-width: 1200px) {
    .item-box {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 768px){
    .layout-box {
        width: 300px;
        margin: 0 0 0 -150px;
    }
}