<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.yangcloud.mapper.ServiceIpMapper">

    <insert id="addIp" parameterType="serviceIp">
        insert into service_ip
        (ip, address, `time`)
        value
        (#{ip}, #{address}, #{time})
    </insert>

    <update id="updateIp" parameterType="serviceIp">
        update service_ip
        <trim prefix="set" suffixOverrides=",">
            <if test="time != null">`time` = #{time},</if>
            <if test="address != null">address = #{address},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="findByIp" parameterType="string" resultType="serviceIp">
        select id, ip, address, `time`
        from service_ip
        where ip = #{ip}
    </select>

    <select id="getIpSize" resultType="int">
        select count(id)
        from service_ip
    </select>

    <select id="findAll" parameterType="int" resultType="serviceIp">
        select id, ip, address, `time`
        from service_ip
        limit #{page}, #{limit}
    </select>

</mapper>